<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- mybatis 설정정보를 저장하는 파일 -->

    <settings>
        <!-- snake_case <-> camelCase 자동 매핑 활성화 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <package name="com.itwillbs.domain"/>
    </typeAliases>

</configuration>
